.table-container {
  width: 100%;
  margin-left: 0px;   
  padding: 160px;
}

.students-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
  text-align: start;
}

table.dataTable {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e5e5e5;
}

table.dataTable thead th {
  background: #f5f7fb;
  font-weight: 700;
  padding: 12px;
}

table.dataTable tbody td {
  padding: 10px 12px;
  font-size: 14px;
}

/* Buttons */
.action-btn {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.action-edit {
  background: #3956AD ;
  margin-right: 6px;
}

.action-delete {
  background: #e53935;
}
