.studentsResultWrapper {
  padding: 20px;
  margin-left: 135px;
}

.studentsResultTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #0a2b5c;
}


.studentsResultTableWrapper {
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}


table.studentsResultTable thead th {
  background: #0a2b5c !important;
  color: white !important;
  padding: 12px;
  font-size: 15px;
  text-align: left;
}

table.studentsResultTable thead th:hover {
  background: #123e7c !important;
}

.sr-column-select,
.sr-column-name,
.sr-column-course,
.sr-column-status,
.sr-column-actions {
  font-weight: 600;
}


.studentsResultBody tr {
  background: white !important;
  transition: 0.25s ease;
}

.studentsResultBody tr:hover {
  background: #eef4ff !important;
}


.studentsResultBody td {
  padding: 12px;
  font-size: 14px;
}


.sr-checkbox {
  width: 18px;
  height: 18px;
}


.status-active {
  color: #0d8a26;
  font-weight: 600;
}

.status-inactive {
  color: #c62828;
  font-weight: 600;
}


.sr-btn {
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 13px;
  color: white;
  cursor: pointer;
  margin-right: 6px;
  transition: 0.3s;
}

.sr-btn-edit {
  background:  #3956AD;
}

.sr-btn-edit:hover {
  background: #2f4991
}

.sr-btn-delete {
  background: #d9534f;
}

.sr-btn-delete:hover {
  background: #b02a27;
}


.dataTables_wrapper {
  margin-top: 15px;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: 600;
}

.dataTables_wrapper .dataTables_filter input {
  border: 2px solid #0a2b5c;
  padding: 6px 10px;
  border-radius: 6px;
  outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: #e6ecf7 !important;
  color: #0a2b5c !important;
  border-radius: 5px;
  margin: 3px;
  padding: 5px 10px;
  border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #0a2b5c !important;
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #0a2b5c !important;
  color: white !important;
}

.dataTables_wrapper .dataTables_length select {
  border: 2px solid #0a2b5c;
  padding: 5px;
  border-radius: 6px;
  outline: none;
}

.dataTables_wrapper .dataTables_info {
  color: #0a2b5c;
  font-weight: 500;
}
