.student-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.student-layout-content {
  flex: 1;
  margin-left: 110px; 
  display: flex;
  flex-direction: column;
  transition: margin 0.3s;
}

.student-layout-page {
  padding: 20px;
  flex: 1;
}

@media (max-width: 768px) {
  .student-layout-content {
    margin-left: 0; 
  }
}
