.topcontainer {
  background: #fcfcfc;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.153);
}

.titles {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.studentgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.studentscard {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.studentscard:hover {
  transform: translateY(-5px);
}

.studentimg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #4C8EF6;
}

.studentname {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.studentspercentage {
  font-size: 16px;
  font-weight: 500;
  color: #4C8EF6;
}


.badges {
  margin-top: 12px;
  background: #fdd835;
  padding: 6px 12px;
  border-radius: 25px;
  font-weight: 600;
  display: inline-block;
  color: #333;
  font-size: 14px;
}
