.para{
  font-size: 16px;
}
.about{
  font-size: 24px;
  font-weight: 700;
 
}
.colorchange{
  background-color: #e6f1ff;
  
}


.coursesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}


.row1, .row2, .row3 {
  display: flex;
  justify-content: center;  
  gap: 20px;
}

.row1 {
  justify-content: center;
}

.courseCard {
  background: white;
  padding: 25px 15px;
  text-align: center;
  font-weight: 600;
  border-radius: 12px;
  min-width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.courseCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  border-color: #1A73E8;
}

@media (max-width: 992px) {
  .row1, .row2, .row3 {
    flex-wrap: wrap;
  }
  .courseCard {
    min-width: 45%;
  }
}
@media (max-width: 600px) {
  .courseCard {
    min-width: 100%;
  }

  .row1, .row2, .row3 {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .courseCard {
    padding: 20px 12px;
    font-size: 15px;
  }
}