.auth-bg {
  background: linear-gradient(135deg, rgba(140, 196, 255, 0.6), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(10px);
}

.auth-card {
  width: 700px;
  max-width: 90%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.auth-image-container {
  width: 50%;
}

.auth-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0px 0px 160px 0px;
}

.auth-form-container {
  width: 50%;
}

@media (max-width: 768px) {
  .auth-card {
    flex-direction: row;
    width: 95%;
    height: auto;
  }

  .auth-image-container {
    width: 25%;
    order: 2;
  }

  .auth-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }

  .auth-form-container {
    width: 75%;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .auth-image-container {
    width: 20%;
  }

  .auth-form-container {
    width: 80%;
  }
}
