.bannerContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Textover {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: start;
}

.xen {
  font-weight: 600;
  color: #3956AD;
  font-size: 32px;
}

.bannerhead {
  font-weight: 750;
  color: #071f46;
  font-size: 48px;
  margin-top: 5px;
}

.para {
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  max-width: 520px;    
  line-height: 1.4;
}

.homebutton {
  border-radius: 6px;
  width: 120px;
  height: 40px;
  background-color: #3956AD;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .bannerContainer {
    height: 480px;
  }

  .Textover {
    left: 40%;
  }

  .bannerhead {
    font-size: 40px;
  }

  .xen {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .bannerContainer {
    height: 100vh; 
  }

  .Textover {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .bannerhead {
    font-size: 32px;
  }

  .xen {
    font-size: 24px;
  }

  .para {
    font-size: 15px;
    max-width: 90%;
    margin: auto;
  }

  .homebutton {
    width: 110px;
    height: 38px;
  }
}


@media (max-width: 576px) {
  .bannerContainer {
    height: 380px;
  }

  .Textover {
    width: 90%;
    text-align: center;
    left: 50%;
  }

  .bannerhead {
    font-size: 26px;
  }

  .xen {
    font-size: 20px;
  }

  .para {
    font-size: 14px;
    max-width: 350px; 
   
  }

  .homebutton {
    width: 100px;
    height: 36px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .bannerContainer {
    height: 350px;
  }

  .bannerhead {
    font-size: 24px;
  }

  .xen {
    font-size: 18px;
  }

  .para {
    font-size: 13px;
    max-width: 300px;
  }

  .homebutton {
    width: 100px;
    height: 35px;
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .bannerContainer {
    height: 320px;
  }

  .bannerhead {
    font-size: 20px;
  }

  .xen {
    font-size: 16px;
  }

  .para {
    font-size: 12px;
     max-width: 260px;
  }

  .homebutton {
    width: 90px;
    height: 32px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .bannerContainer {
    height: 850px; 
  }
}