.cardsspace{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    padding: 45px;

}
.whychoose{
    font-size: 24px;
    font-weight: 700;
}
.paras{
    font-size: 16px;
}

.subs {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.subbutton{
    border-radius: 6px;
  width: 100px;
  height: 37px;
  background-color: #3956AD;
  color: white;
  border: 0px;
  margin-top: 10px;
}

.newchange{
  background-color: #d0f0ff;
  padding-bottom: 20px;
  padding-top: 20px;
}

.whycard {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.whycard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
}

.whyicon {
  width: 60px;
  height: 60px;
  background: #e6f0ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  font-size: 28px;
  color: #2954d6;
}

.whytitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.whytext {
  font-size: 14px;
  color: #666;
}


.stepswrapper {
  text-align: center;
  padding: 50px 20px;
}

.stepstitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
}

.stepscontainer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 40px;
}

.line {
  position: absolute;
  top: 30px; 
  left: 0;
  right: 0;
  height: 2px;
  background: #000000;
  z-index: 1;
}

.stepbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2; 
}

.stepcircle {
  width: 60px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.stepbox p {
  margin-top: 5px;
  font-size: 16px;
  color: #444;
}
.lastcolor{
  background-color: #d0f0ff;
  /* padding-bottom: 40px; */
  padding-top: 30px;
}

.subscribe{
  background-color:#88d9ff;
  padding-bottom: 94px ;
  padding-top: 70px;
  border-radius: 65px 65px 0px 0px;
}

.fadeMessage {
  background: white;
  color: #3956AD;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 600;
  display: inline-block;
  animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}



@media (max-width: 768px) {
  .stepscontainer {
    flex-direction: column;
    gap: 40px;
  }

  .line {
    display: none;
  }
}

