.search-wrapper {
  position: relative;
  width: 250px;
}

.search-wrapper .search-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 16px;
  color: #6c757d;
}

.search-wrapper input {
  padding-left: 35px;
}
