.sidebarWrapper {
  width: 250px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
}

.mainContent {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: 0.3s ease;
  min-height: 100vh;
}

.cardRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.cardBox {
  width: 100%;
  border-radius: 12px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}
.cardBox:hover {
  box-shadow: 0 4px 12px rgba(115, 209, 246, 0.5);
}

.notificationWrapper {
  width: 320px;
  margin-left: 20px;
  position: sticky;
  top: 20px;
}



@media (max-width: 992px) {

  .sidebarWrapper {
    width: 70px;   
  }

  .mainContent {
    margin-left: 70px; 
    width: calc(100% - 70px);
  }

  .cardRow {
    grid-template-columns: repeat(2, 1fr);
  }

  .notificationWrapper {
    width: 100%;
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 600px) {
  .cardRow {
    grid-template-columns: 1fr;
  }
}
