.table-header {
  background-color: #3956AD;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

table.dataTable {
  width: 100% !important;
}


.table-responsive {
  overflow-x: auto;
}

.display thead th {
  background-color: #3956AD !important;
  color: white !important;
  border-color: #3956AD !important;
}

.display tbody tr:hover {
  background-color: #e3e8f5 !important;
}

.display tbody td.fw-bold {
  font-weight: 700;
}

table.dataTable.dt-responsive th,
table.dataTable.dt-responsive td {
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  width: 100%;
  margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
  display: inline-block;
  width: auto;
}

table.dataTable thead tr {
  background-color: #3956AD !important;
  color: white !important;
}

@media (max-width: 768px) {
  table.dataTable {
    width: 100% !important;
    display: block !important;
    overflow-x: auto !important;
  }

  table.dataTable thead,
  table.dataTable tbody,
  table.dataTable tr,
  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }
}

