
body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fb;
}


.fees-table {
  font-size: 14px;
}

table.dataTable thead th {
  background-color: #0a2b5c !important;
  color: #ffffff !important;
  padding: 10px;
}

table.dataTable tbody td {
  padding: 10px;
}


.paid {
  color: #198754;
  font-weight: bold;
}

.pending {
  color: #dc3545;
  font-weight: bold;
}

/* Status badges */
.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.status.paid {
  background-color: #198754;
}

.status.partial {
  background-color: #ffc107;
  color: #000;
}

.status.not-paid {
  background-color: #dc3545;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

/* Buttons */
.btn-primary {
  background-color: #0a2b5c;
  border: none;
}
