.fees-topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
  flex-wrap: wrap;
}

.fees-left {
  display: flex;
  gap: 20px;
}

.fees-right {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.fees-right input {
  width: 230px;
}

.add-fee-btn {
  height: 42px;
  font-weight: 600;
  padding: 0 20px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  padding: 25px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
