.navWrapper {
  width: 100%;
  background: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 45px;
}

.loginBtn {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
}

.menuBtn {
  font-size: 25px;
  background: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  display: none; 
}

.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 768px) {

  .menuBtn {
    display: block; 
  }

  .logo {
    height: 40px;
  }

  .loginBtn {
    padding: 5px 12px;
  }
}
