.navWrapper {
  width: 100%;
  background: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px; 
}


.logo {
  height: 75px;
}

.menuBtn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .navContainer {
    padding: 0 15px;
  }

  .menuBtn {
    display: block;
  }

  .logo {
    height: 60px;
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.loginGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginBtn {
  background: transparent;
  color: #2f4991;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.loginBtn i {
  font-size: 20px;
}

.dropdownContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  width: 160px;
  padding: 10px 0;
  z-index: 999;
}

.dropdownMenu a {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  display: block;
  transition: 0.2s;
}

.dropdownMenu a:hover {
  background: #f2f2f2;
}

.notificationIcon {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  line-height: 1.1;
}

.userName {
  font-size: 14px;
  font-weight: 600;
}

.userRole {
  font-size: 12px;
  color: gray;
}

@media (max-width: 768px) {
  .rightSection {
    gap: 10px;
  }
}
@media (max-width: 620px){
  .logo {
  height: 75px;
}
}