
.overbanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.signupBox {
  width: 350px;
  background: rgba(255, 255, 255, 0.368);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.bottomSignUpBtn {
  width: 100%;
  height: 50px;
  padding: 12px;
  background-color: rgb(3, 3, 157);
  border: 0px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 20px;
  cursor: pointer;
}