
.students-top-row {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-btn {
  background: transparent !important;
  border: none;
  font-size: 20px;
}


.search-wrapper {
  position: relative;
  width: 250px;
}

.search-wrapper input {
  padding-left: 40px;
  background: #f5f5f5;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: gray;
}


.filter-popup {
  position: absolute;
  z-index: 10;
  margin-top: 8px;
}


.students-table-wrapper {
  margin-top: 15px;
  overflow-x: auto;
}

.students-table th,
.students-table td {
  font-size: 14px;
  white-space: nowrap;
}

.student-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.action-btn {
  width: 80px;
  height: 30px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  width: 380px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  animation: popup 0.25s ease;
}

@keyframes popup {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.modal-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.modal-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-group input,
.modal-group select {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.modal-group input:focus,
.modal-group select:focus {
  border-color: #3B82F6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn-cancel {
  background: #e5e7eb;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cancel:hover {
  background: #d1d5db;
}

.btn-add {
  background: #3956AD;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-add:hover {
  background: #2f4991
}



@media (max-width: 768px) {
  .students-top-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .search-wrapper {
    width: 100%;
  }

  .filter-popup {
    position: relative;
    width: 100%;
  }

  .students-table-wrapper {
    overflow-x: scroll;
  }
}

@media (max-width: 480px) {
  .students-top-row {
    padding: 12px;
  }

  .students-table th, 
  .students-table td {
    font-size: 12px;
  }

  .action-btn {
    width: 70px;
    height: 28px;
  }

  .student-img {
    width: 24px;
    height: 24px;
  }
}
