.details-wrapper {
  padding: 25px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

.left-card, .right-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.profile-pic-box {
  text-align: center;
  
}

.profile-pic-box img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: 4px solid #4C8EF6;
}

.student-id {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.form-section {
  margin-top: 20px;
}

.form-row {
  display: flex;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
}

.section-title {
  margin: 15px 0 10px 0;
  font-weight: 600;
  font-size: 16px;
}

.fee-table, .history-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.fee-table th, .fee-table td,
.history-table th, .history-table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

.fee-table th, .history-table th {
  background: #3B82F6;
  color: white;
  text-align: left;
}
