.student-dashboard-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.student-dashboard-content {
  flex: 1;
  padding: 34px 10px 10px 10px;
  margin-left: 140px;
  transition: margin-left 0.3s ease;
}

.dashboard-graphs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


@media (max-width: 992px) {
  .student-dashboard-content {
    margin-left: 200px; 
  }
}

@media (max-width: 768px) {
  .student-dashboard-content {
    margin-left: 0;
    padding: 15px;
  }

  .dashboard-graphs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .student-dashboard-content {
    padding: 10px;
  }
}
