/* .table-wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.table-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.app-table {
  width: 100%;
  border-collapse: collapse;
}

.app-table th, .app-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.app-table th {
  background: #f6f7fb;
  cursor: pointer;
}

.action-cell button {
  margin-right: 6px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit {
  background-color: #3956ad;
  color: white;
}

.btn-delete {
  background-color: #e63946;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
}

.pagination button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.pagination .active-page {
  background-color: #3956ad;
  color: white;
  border: none;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 420px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-actions .cancel {
  background: #ccc;
}

.filter-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-row select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.bulk-delete {
  margin-bottom: 10px;
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
} */
