.bigbox {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;     
  justify-content: space-between;
  gap: 0px;
}

.leftSection {
  width: 55%;            
}

.rightSection {
  width: 45%;            
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentgrid {
  display: flex;
  gap: 15px;
}

.studentscard {
  height: 350px;
  flex: 1;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.studentsimg{
  width: 145px;
  height: 145px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #4C8EF6;
}

.badg {
  margin-top: 12px;
  background: #fdd835;
  padding: 15px 45px;
  border-radius: 25px;
  font-weight: 600;
  display: inline-block;
  color: #333;
  font-size: 14px;
}
.titles{
  font-weight: 700;
}

@media (max-width: 768px) {
  .bigbox {
    flex-direction: column;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }

  .studentgrid {
    flex-direction: column;
  }
}
