.custom-tab {
  border: none !important;
  color: #555 !important;
  background: #f8f9fa !important;
  border-radius: 8px 8px 0 0 !important;
  margin-right: 8px;
  transition: 0.3s;
  width: 100px;
}

.custom-tab:hover {
  background: #e9ecef !important;
  color: #000 !important;
}

.custom-tab-active {
  background: #3956AD !important;
  color: #fff !important;
  border-radius: 6px 6px 0 0 !important;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.modal-card {
  background: #ffffff;
  width: 100%;
  max-width: 500px;

  padding: 24px;
  border-radius: 12px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

  animation: modalFadeIn 0.25s ease-out;
}


@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

